@media (max-width: 871px) {
  section, body, #header-container{
    width:871px;
  }
  .center-container{
    padding-left:0px;
    padding-right:0px
  }
  .google1, .google3, .text-2, .text-4{
    left:10px;
  }
  .text-1, .text-3, .google2, .google4{
    left: 400px;
  }
}

@media (max-device-width: 601px){
  #header-options > li {
    width:95%;
    border:0;
    height: 32px;
    font-size: 20px;
    border-bottom: 1px solid white;
  }
  .main{
    padding-top: 375px;
  }
}
