@media (max-width: 871px) {
  section, body, #header-container{
    width:871px;
  }
  .center-container{
    padding-left:0px;
    padding-right:0px
  }
  .google1, .google3, .text-2, .text-4{
    left:10px;
  }
  .text-1, .text-3, .google2, .google4{
    left: 400px;
  }
}
