body, p, h1, h2, li{
  margin:0;
  padding:0;
  border:0;
  color: inherit;
  font: inherit;
  font-size: inherit;
  background: transparent;
  display: block;
  letter-spacing: normal;
}
ul{
  padding: 0;
  list-style:none;
}

body{
  font-size:14px !important;
  font-family: 'Cinzel', serif;
  background-image: url("../images/wood.jpg");
}
section{
  width:1200px;
  margin:auto;
  position:relative;
}
.clear-fix:after{
  content:"";
  display:block;
  clear: both;
}
.hide{
  display: none !important;
}
.main{
  position:relative;
}
#loading-overlay{
  background: rgb(50, 98, 149);
  position: absolute;
  width: 2000px;
  height: 2000px;
  z-index: 10;
  opacity:1;
}
#loading-overlay >img{
  font-size: 48px;
  color: white;
  display: block;
  width: 200px;
  margin: 50px;
  opacity: .2;
}
#loading-overlay.loaded{
  width:0%;
  height:0%;
  opacity: 0;
  transition: 2s;
  transition: opacity 2s ease 1s, width 3s ease-in, height 3s ease-in;
}
#date:hover{
  background-image: url('../images/Animated-fireworks.gif');
  background-position: 70% 11%;
}

#header-container{
  background-color:rgba(50, 98, 149, 0.5);
  padding-top: 15px;
  color:white;
  width:100%;
  border-bottom: 31px solid transparent;
  margin-bottom: 30px;
}
#header-container > h1{
  font-size: 60px;
  font-weight: bold;
  width: 400px;
  padding:20px;
  padding-bottom:0;
  font-family: 'Great Vibes', cursive;
}
#header-container > h2{
  font-size: 20px;
  width: 171px;
  padding:5px;
}
#header-container > *{
  margin: auto
}
#header-options{
  margin-top: 10px;
  border: 1px solid white;
  width: 860.6px;
}
#header-options > li{
  font-size:16px;
  float:left;
  border-right: 1px solid white;
  padding: 5px 20px;
  letter-spacing: 3px;
  cursor: pointer;
  position:relative;
}
#header-options > li:last-child{
  border: none;
}
#header-options > li:hover{
  color:black;
  background:white;
}

#header-options > .selected:before{
  content:"";
  display:block;
  position:absolute;
  background-repeat: no-repeat;
  top: -2px;
  left: -5px;
  width: 20px;
  height: 30px;
  background-size: 30px 30px;
  /*background-image :url('../images/Champagne_Popper.png');*/
  background-image: url('../images/champagne1.png');
  -webkit-transform: rotate(30deg);
  -moz-transform: rotate(30deg);
  -ms-transform: rotate(30deg);
  -o-transform: rotate(30deg);
  transform: rotate(30deg);
}
#header-options > .selected:after{
  content:"";
  display:block;
  position:absolute;
  background-repeat: no-repeat;
  top:0;
  right:0;
  width: 20px;
  height: 30px;
  background-size: 30px 30px;
  background-image: url('../images/champagne1.png');
  -webkit-transform: rotate(-30deg);
  -moz-transform: rotate(-30deg);
  -ms-transform: rotate(-30deg);
  -o-transform: rotate(-30deg);
  transform: rotate(-30deg);
}

#contact{
  position:relative;
}
#contact-drop{
  position: absolute;
  width: 200px;
  background: rgba(50, 98, 149, 0.5);
  top: 31px;
  left: 0;
}
#contact-drop.closed{
  display:none;
}
#contact-drop > li {
  padding: 5px 20px;
  border: 1px solid white;
  color: white;
  cursor: pointer;
}
#contact-drop > li:last-child{
  border-top: 0;
  background: rgba(50, 98, 149, 0.5);
}
#contact-drop > li:hover {
  color:black;
  background:white;
}

.center-container{
  width: 860.6px;
  padding-top:100px;
  padding:50px;
  margin:auto;

}
#center-map{
  position:absolute;
  left:200px;
  top:100px;
}
.shadow {
	float: left;
  background-image: url("../images/shadow.png");
}
.main-photo{
  margin: -4px 4px 4px -4px;
  background-color: #592d0d;
  padding:1px;
  display: block;
  position: relative;
}



.google-container{position:relative; width:100%; height:1500px}
.google{position:absolute}
.google-text{position:absolute; font-size: 40px;transition: .5s;}
.google1{left:100px;top:0px;color:white;}
.google2{left:400px;top:150px;color:white;}
.google3{left:500px;top:350px;color:white;}
.google4{left:100px;top:700px;color:white;}
.ferry-text{left:550;top:100px;border-radius: 5px;color:rgba(255,255,255,.8);padding:20px 30px;text-shadow: 4px 3px 0px rgba(0,0,0,0.55), 9px 8px 0px rgba(0,0,0,0.15);}
.church-text{left:200;top:500px;border-radius: 5px;color:rgba(255,255,255,.8);padding:20px 30px;text-shadow: 4px 3px 0px rgba(0,0,0,0.55), 9px 8px 0px rgba(0,0,0,0.15);}
.reception-text{left:600px;top:800px;border-radius: 5px;color:rgba(255,255,255,.8);padding:20px 30px;text-shadow: 4px 3px 0px rgba(0,0,0,0.55), 9px 8px 0px rgba(0,0,0,0.15);}
