body, p, h1, h2, li{
  margin:0;
  padding:0;
  border:0;
  color: inherit;
  font: inherit;
  font-size: inherit;
  background: transparent;
  display: block;
  letter-spacing: normal;
}
ul{
  padding: 0;
  list-style:none;
  margin:0;
}

body{
  font-size:14px !important;
  font-family: 'Cinzel', serif;
  background-image: url("../images/wood.jpg");
  background-attachment:fixed;
  overflow-x: hidden;
  margin: auto;
  width: 1200px;
}

section{
  width:1200px;
  margin:auto;
  position:relative;
}
.clear-fix:after{
  content:"";
  display:block;
  clear: both;
}
.hide{
  display: none !important;
}
.main{
  position:relative;
  padding-top: 260px;
}
#loading-overlay{
  background: rgb(50, 98, 149);
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: 100;
  opacity:1;
  left:0;
}
#loading-overlay >img{
  font-size: 48px;
  color: white;
  display: block;
  width: 200px;
  margin: 50px;
  opacity: .2;
}
#loading-overlay.loaded{
  width:0%;
  height:0%;
  opacity: 0;
  transition: opacity 2s ease 1s, width 3s ease-in, height 3s ease-in;
}

#date:hover{
  background-image: url('../images/Animated-fireworks.gif');
  background-position: 70% 11%;
}

#header-container{
  background-color:rgba(50, 98, 149, 0.6);
  padding-top: 15px;
  color:white;
  width: 1200px;
  border-bottom: 30px solid transparent;
  position:fixed;
  z-index:10;
  transition: margin .5s, border .5s, background-color .5s;
}
#header-container.minimized{
  margin-top: -162px;
  background-color:rgba(50, 98, 149, .9);
  border-bottom: 0px solid transparent;
}
#header-container.fullhide{
  margin-top: -500px !important;
}

#header-container > h1{
  font-size: 60px;
  font-weight: bold;
  width: 420px;
  padding:20px;
  padding-bottom:0;
  font-family: 'Great Vibes', cursive;
}
#header-container > h2{
  font-size: 20px;
  width: 180px;
  padding:5px;
}
#header-container > *{
  margin: auto
}
#header-options{
  margin-top: 15px;
  border: 1px solid white;
  display: inline-block;
}

#header-options > li{
  font-size:16px;
  float:left;
  border-right: 1px solid white;
  padding: 5px 20px;
  letter-spacing: 3px;
  cursor: pointer;
  position:relative;
}
#header-options > li:last-child{
  border: none;
}
#header-options > li:hover{
  color:black;
  background:white;
}

#header-options > .selected:before{
  content:"";
  display:block;
  position:absolute;
  background-repeat: no-repeat;
  top: -2px;
  left: -5px;
  width: 20px;
  height: 30px;
  background-size: 30px 30px;
  /*background-image :url('../images/Champagne_Popper.png');*/
  background-image: url('../images/champagne1.png');
  -webkit-transform: rotate(30deg);
  -moz-transform: rotate(30deg);
  -ms-transform: rotate(30deg);
  -o-transform: rotate(30deg);
  transform: rotate(30deg);
}
#header-options > .selected:after{
  content:"";
  display:block;
  position:absolute;
  background-repeat: no-repeat;
  top:0;
  right:0;
  width: 20px;
  height: 30px;
  background-size: 30px 30px;
  background-image: url('../images/champagne1.png');
  -webkit-transform: rotate(-30deg);
  -moz-transform: rotate(-30deg);
  -ms-transform: rotate(-30deg);
  -o-transform: rotate(-30deg);
  transform: rotate(-30deg);
}

#contact{
  position:relative;
}
#contact-drop{
  position: absolute;
  width: 200px;
  background: rgba(50, 98, 149, 0.5);
  top: 31px;
  left: 0;
}
#contact-drop.closed{
  display:none;
}
#contact-drop > li {
  padding: 5px 20px;
  border: 1px solid white;
  color: white;
  cursor: pointer;
}
#contact-drop > li:last-child{
  border-top: 0;
  background: rgba(50, 98, 149, 0.5);
}
#contact-drop > li:hover {
  color:black;
  background:white;
}

.center-container{
  width: 860.6px;
  padding-top:100px;
  padding:50px;
  margin:auto;
  overflow: hidden;
  margin-bottom: 60px;

}
#center-map{
  position:absolute;
  left:200px;
  top:100px;
}
.shadow {
	float: left;
  background-image: url("../images/shadow.png");
}
.main-photo{
  margin: -4px 4px 4px -4px;
  background-color: #592d0d;
  padding:1px;
  display: block;
  position: relative;
}

/*.google-container{position:relative; width:100%; height:1500px}
.google{position:absolute}
.google-text{position:absolute; font-size: 40px;transition: .5s;}
.google1{left:150px;top:0px;color:white;}
.google2{left:600px;top:350px;color:white;}
.google3{left:150px;top:700px;color:white;}
.google4{left:600px;top:1050px;color:white;}
.text-1{left:650px;top:100px;border-radius: 5px;color:rgba(255,255,255,.8);padding:20px 30px;text-shadow: 4px 3px 0px rgba(0,0,0,0.55), 9px 8px 0px rgba(0,0,0,0.15);}
.text-2{left:200px;top:450px;border-radius: 5px;color:rgba(255,255,255,.8);padding:20px 30px;text-shadow: 4px 3px 0px rgba(0,0,0,0.55), 9px 8px 0px rgba(0,0,0,0.15);}
.text-3{left:650px;top:800px;border-radius: 5px;color:rgba(255,255,255,.8);padding:20px 30px;text-shadow: 4px 3px 0px rgba(0,0,0,0.55), 9px 8px 0px rgba(0,0,0,0.15);}
.text-4{left:200px;top:1150px;border-radius: 5px;color:rgba(255,255,255,.8);padding:20px 30px;text-shadow: 4px 3px 0px rgba(0,0,0,0.55), 9px 8px 0px rgba(0,0,0,0.15);}*/

/*Events*/
#events-container{
  background-color: rgba(255,255,255,.9);
  color: rgb(74, 74, 74);
  font-family: "proxima-nova";
}
#date-header{
  color: #3d9991;
  font-weight: bold;
  font-size: 38px;
  letter-spacing: 5px;
  font-style: italic;
  border-bottom: 1px solid black;
}
.events-event{
  margin-top: 25px;
  padding:10px;
}
.event-type{
  font-size: 23px;
  font-weight: bold;
}
.event-time{
  font-size: 20px;
  padding: 5px;
  display: block;
}
.google-map{
  float: left;
  margin: 10px;
  margin-right: 25px;
}
.event-text{
  margin: 20px;
  font-size: 19px;
}
/*Events End*/
/*Accomodations*/
  #lodging-container{
    background-color: rgba(255,255,255,.9);
  }
  [class*=sqs-col] .sqs-block {
      padding-left: 17px;
      padding-right: 17px;
  }
  .sqs-block {
      padding-bottom: 5px;
      padding-top: 5px;
  }
  .sqs-block-html {
      clear: none;
  }
  .sqs-block {
      position: relative;
      height: auto;
      outline: 1px solid transparent;
      -webkit-transition: box-shadow .1s ease-in-out;
      -moz-transition: box-shadow .1s ease-in-out;
      -ms-transition: box-shadow .1s ease-in-out;
      -o-transition: box-shadow .1s ease-in-out;
      transition: box-shadow .1s ease-in-out;
      padding-top: 17px;
      padding-bottom: 17px;
  }
  [class*=sqs-col]:last-child {
      padding-right: 0;
  }
  .sqs-col-12 {
      width: 100%;
  }
  [class*=sqs-col] {
      float: left;
  }

  .sqs-block-html .sqs-block-content>*:first-child {
      margin-top: 0;
  }
  #lodging-container h2:first-child, #lodging-container h1:first-child, #lodging-container .entry-title:first-child {
      margin-top: 0;
  }

  #lodging-container h2 .entry-title {
      margin: 1em 0 .5em;
  }
  #lodging-container h2, #lodging-container .summary-title a {
      color: #4a4a4a;
  }
  #lodging-container h2 {
      font-family: "proxima-nova";
      font-size: 22px;
      line-height: 1.2em;
      text-transform: uppercase;
      letter-spacing: 2px;
      font-weight: 400;
      font-style: normal;
  }
  #lodging-container h2 {
      text-rendering: optimizeLegibility;
  }

  .sqs-block-html .sqs-block-content>*:first-child {
    margin-top: 0;
}

#lodging-container h1, .entry-title {
    margin: 1em 0 .5em;
}
#lodging-container h1, .entry-title {
    color: #3d9991;
}
#lodging-container h1, .entry-title {
    font-family: "proxima-nova","Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 48px;
    font-size: 45px;
    line-height: 1.2em;
    text-transform: none;
    letter-spacing: 0px;
    font-weight: 400;
    font-style: normal;
}
#lodging-container h1 {
    display: block;
    font-size: 3em;
    margin: .67em 0;
    -webkit-margin-before: 0.67em;
    -webkit-margin-after: 0.67em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    font-weight: bold;
}
/*Accomodations-end*/

/*Trevel*/
#jitney {
  width: 1050px;
  height: 162px;
  vertical-align: middle;
  border-top-width: 0px;
  border-right-width: 0px;
  border-bottom-width: 0px;
  border-left-width: 0px;
  border-top-style: solid;
  border-right-style: solid;
  border-bottom-style: solid;
  border-left-style: solid;
}
/*Travel-End*/
